*
{
	box-sizing: border-box;
	font-family: Ubuntu Mono, Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
html, body
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #000;
	color: #0F0;
	font-family: 'Arial';
	overflow-x: hidden;
	overflow-y: auto;
}
span
{
    padding: 0;
    margin: 0;
	display: inline;
}
#player_data, #player_area
{
	padding: 1em;
	margin: 0 auto;
}
#player_data
{
	display: none;
}
#player_area
{
	margin: 0 auto;
}
.blink
{
	animation: blinker steps(1) 500ms infinite alternate;
}
@keyframes blinker
{  
	0% { visibility: visible; }
	50% { visibility: hidden; }
	100% { visibility: visible; }
}
#console_indicator
{
	height: 1em;
	width: 0.5em;
	background-color: #0F0;
	display: inline-block;
	margin-bottom: -.2em;
}